body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar{
  margin-top: 10px;
  margin-left: 30px;
}

@media(min-width: 480px){
.dot{
  height: 7.559185981750488px;
  width: 6.88399600982666px;
  margin-top: 25px;
  margin-left:30px;
  border-radius: 0px;
  position: absolute;
  

}

.logo{
  height: 27.62470054626465px;
  width: 27.239463806152344px;
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 0px;  
  
}

.company-name{
  height: 21px;
  width: 118px;
  left: -6002px;
  margin-top: -30px;
  margin-left: 60px;
  border-radius: nullpx;

}

.picture1{
  height: 78px;
  width: 78px;
  margin-left:70px;
  top: -1173px;
  border-radius: 0px;

}

.greeting{
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-left:30px;
  color: #888CB7;

}

.welcome{
  font-family: Segoe UI;
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  margin-left:15px;
  color:#A2A4B9;
  margin-top: -10px;
}

.plan{
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  margin-left:50px;
  margin-top: -5px;
  color: #A2A4B9;

}

.freemode{
 color: #33D69F;

}

.overview-icon{
  margin-top: 35px;
  margin-left: 25px;
  width: 40px;
}

.overview-page{
  margin-left: 5px;
  margin-top: 40px;
  position: absolute;
  color:  #A2A4B9;

}

.policy-icon{
  margin-top: 85px;
  margin-left: -30px;
  position: absolute;
  
}

.policy-page{
  margin-left: 5px;
  margin-top: 85px;
  position: absolute;
  color:  #A2A4B9;
  }

  .report-page{
  margin-left: 5px;
  margin-top: 135px;
  position: absolute;
  color:  #713BDB;
  }

  .report-icon{
    margin-top: 135px;
    margin-left: -30px;
    position: absolute;
    color:  #A2A4B9;
  }

  .company-page{
    margin-left: 5px;
    margin-top: 180px;
    position: absolute;
    color:  #A2A4B9;
  }

  .company-icon{
    margin-top: 180px;
    margin-left: -30px;
    position: absolute;
    color:  #A2A4B9;
  }

  .user-page{
    margin-left: 5px;
    margin-top: 230px;
    position: absolute;
    color:  #A2A4B9;
  }

  .user-icon{
    margin-top: 230px;
    margin-left: -30px;
    position: absolute;
    color:  #A2A4B9;
  }

  .history-page{
    margin-left: 5px;
    margin-top: 275px;
    position: absolute;
    color:  #A2A4B9;
  }

  .history-icon{
    margin-top: 275px;
    margin-left: -30px;
    position: absolute;
    color:  #A2A4B9;
  }

  .btn{
    height: 50px;
    width: 200px;
    margin-left: 25px;
    position:relative;
    border-radius:10px;
    background-color:hsl(261, 83%, 50%) ;
    color: #FFFBFB;
    border: 0cm;
    font-weight: 200;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
  }
  .rightpane{
    width: available;
    height: available;
    position: relative;
    margin-left: 50%;
    margin-right: 5%;
    margin-top: 20px;
   
  }

  .reports{
    background-color: #F4F5F9;
    margin-left: 300px;
    height: 800px;
    margin-top: 10px;
  }

  .grid-item2{
    margin-top: -300px;
  }

  .agent{
    margin-left: -480px;
    margin-top: 50px;
    width: available;
  }

  .area{
    position: absolute;
    margin-left: -520px;
    margin-top: 120px;
    opacity: 0.1;
    width: 975px;
  }

  .area2{
    position: relative;
    margin-left: -460px;
    margin-top: -293px;
    opacity: 0.1;
   
  }

  .rectangle{
    margin-left: -10px;
    margin-top: 40px;
    width: 480px;
    position: absolute;
    opacity: 0.4;
  }
  .reports-text{
    margin-top:-230px;
    margin-left: -50px;
  }

  .newbie-btn{
    border: 1px dashed #42474A;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    width: 140px;
    height: 42px;
    margin-left: 15px;
    opacity: 0.6;
    font-size: 18px;
  }

  .copy-code{
    margin-left: 170px;
  }

  .rectangle1{
    margin-left:-480px;
    margin-top: 150px;
    opacity: 0.9;
  }

  .disburse-value{
    background-color:#F4F5F9; 
    position: absolute;
  }

  .one-k{
    margin-left: -450px;
    margin-top: -290px;
    position: absolute;
    font-size: 50px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 73px;
  }

  .dollar-sign1{
    margin-left: -335px;
    margin-top: -300px;
    position: absolute;
    color: #713BDB;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 47px;
  }

  .total-value{
    margin-left: -445px;
    position: absolute;
    margin-top: -210px;
    color:#42474A;
    width: 210px;
    height: 23px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
  }

  .policy-text{
    margin-left: -445px;
    margin-top: -155px;
    position: absolute;
    width: 44px;
    height: 23px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color:#42474A;
  }
  .policy-amount{
    margin-left: -230px;
    margin-top: -155px;
    position: absolute;
    width: 36px;
    height: 29px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #42474A;
  }

  .policy-currency{
    margin-left: -195px;
    margin-top: -158px;
    position: absolute;
    width: 8px;
    height: 17px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #42474A;
  }

  .line1{
    margin-top: 335px;
    position: absolute;
    margin-left: -290px;
  }

  .line2{
    margin-top: 335px;
    position: absolute;
    margin-left: -195px;
  }

  .claim-text{
    margin-left: -445px;
    margin-top: -65px;
    position: absolute;
    width: 44px;
    height: 23px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color:#42474A;
  }

  .claim-amount{
    margin-left: -230px;
    margin-top: -70px;
    position: absolute;
    width: 36px;
    height: 29px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #42474A;
  }

  .claim-currency{
    margin-left: -195px;
    margin-top: -72px;
    position: absolute;
    width: 8px;
    height: 17px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #42474A;
  }

  .line3{
    margin-top: 425px;
    position: absolute;
    margin-left: -290px;
  }

  .line4{
    margin-top: 425px;
    position: absolute;
    margin-left: -98px;
  }

  .rectangle2{
    margin-left: 10px;
    margin-top: 150px;
    position: absolute;
  }

  .two-five1{
    margin-left: -120px;
    margin-top: -290px;
    position: absolute;
    font-size: 50px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 73px;
  }

  .dollar-sign2{
    margin-left: -5px;
    margin-top: -300px;
    position: absolute;
    color: #713BDB;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 47px;
  }

  .total-value2{
    margin-left: -120px;
    position: absolute;
    margin-top: -210px;
    color:#42474A;
    width: 210px;
    height: 23px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
  }
  
  .policy-text2{
    margin-left: -115px;
    margin-top: -155px;
    position: absolute;
    width: 44px;
    height: 23px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color:#42474A;
  }

  .policy-amount2{
    margin-left: 95px;
    margin-top: -155px;
    position: absolute;
    width: 36px;
    height: 29px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #42474A;
  }

  .policy-currency2{
    margin-left: 142px;
    margin-top: -158px;
    position: absolute;
    width: 8px;
    height: 17px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #42474A;
  }

  .line5{
    margin-top: 335px;
    position: absolute;
    margin-left: 40px;
  }

  .line6{
    margin-top: 335px;
    position: absolute;
    margin-left: 190px;
  }
  
  .claim-text2{
    margin-left: -120px;
    margin-top: -65px;
    position: absolute;
    width: 44px;
    height: 23px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color:#42474A;
  }

  .claim-amount2{
    margin-left: 95px;
    margin-top: -70px;
    position: absolute;
    width: 36px;
    height: 29px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #42474A;
  }

  .claim-currency2{
    margin-left: 142px;
    margin-top: -72px;
    position: absolute;
    width: 8px;
    height: 17px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #42474A;
  }

  .line7{
    margin-top: 425px;
    position: absolute;
    margin-left: 36px;
  }

  .line8{
    margin-top: 425px;
    position: absolute;
    margin-left: 220px;
  }

  .rectangle3{
    margin-left: 340px;
    margin-top: 150px;
    position: absolute;
  }

  .two-five2{
    margin-left: 200px;
    margin-top: -290px;
    position: absolute;
    font-size: 50px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 73px;
  }

  .dollar-sign3{
    margin-left: 315px;
    margin-top: -300px;
    position: absolute;
    color: #713BDB;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 47px;
  }

  .total-value3{
    margin-left: 200px;
    position: absolute;
    margin-top: -210px;
    color:#42474A;
    width: 210px;
    height: 23px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
  }

  .policy-text3{
    margin-left: 205px;
    margin-top: -155px;
    position: absolute;
    width: 44px;
    height: 23px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color:#42474A;
  }

  .policy-amount3{
    margin-left: 410px;
    margin-top: -155px;
    position: absolute;
    width: 36px;
    height: 29px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #42474A;
  }

  .policy-currency3{
    margin-left: 455px;
    margin-top: -158px;
    position: absolute;
    width: 8px;
    height: 17px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #42474A;
  }

  .line9{
    margin-top: 335px;
    position: absolute;
    margin-left: 360px;
  }

  .line10{
    margin-top: 335px;
    position: absolute;
    margin-left: 500px;
  }

  .claim-text3{
    margin-left: 205px;
    margin-top: -65px;
    position: absolute;
    width: 44px;
    height: 23px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color:#42474A;
  }

  .claim-amount3{
    margin-left: 410px;
    margin-top: -70px;
    position: absolute;
    width: 36px;
    height: 29px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #42474A;
  }

  .claim-currency3{
    margin-left: 455px;
    margin-top: -72px;
    position: absolute;
    width: 8px;
    height: 17px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #42474A;
  }

  .line11{
    margin-top: 425px;
    position: absolute;
    margin-left: 360px;
  }

  .line12{
    margin-top: 425px;
    position: absolute;
    margin-left: 550px;
  }

  .overview-page2{
    margin-left: -495px;
    margin-top: -50px;
    position: absolute;
    position: absolute;
    width: 66px;
    height: 21px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #42474A;
  }

  .policy-page2{
    margin-left: -395px;
    margin-top: -50px;
    position: absolute;
    position: absolute;
    width: 66px;
    height: 21px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #42474A;
  }

  .report-page2{
    margin-left: -325px;
    margin-top: -50px;
    position: absolute;
    position: absolute;
    width: 66px;
    height: 21px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #713BDB;
  }

  a:hover{
    color:#713BDB;
  }

  .signout-icon{
    margin-top:520px;
    margin-left:-30px;
    position: absolute;
  }

  .signout1-icon{
    margin-top:527px;
    margin-left:-30px;
    position: absolute;
  }

  .signout-page{
    margin-top:517px;
    margin-left:-10px;
    position: absolute;
    width: 66px;
    height: 24px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #A2A4B9;
  }

}
   
@media(max-width: 780px){

  .side-menu{
    height: 250px;
  }

  .dot{
    height: 7.559185981750488px;
    width: 6.88399600982666px;
    margin-top: 25px;
    margin-left:85px;
    border-radius: 0px;
    position: absolute;
  }

  .logo{
    height: 27.62470054626465px;
    width: 27.239463806152344px;
    margin-left: 75px;
    margin-top: 30px;
    border-radius: 0px;  
  }
  
  .company-name{
    height: 21px;
    width: 118px;
    left: -6002px;
    margin-top: -30px;
    margin-left: 110px;
    border-radius: nullpx;
  
  }

  .picture1{
    height: 78px;
    width: 78px;
    margin-left:115px;
    top: -1173px;
    border-radius: 0px;
  
  }

  .greeting{
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-left:80px;
    color: #888CB7;
  
  }

  .welcome{
    font-family: Segoe UI;
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    margin-left:70px;
    color:#A2A4B9;
    margin-top: -10px;
  }
  
  .plan{
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    margin-left:110px;
    margin-top: -5px;
    color: #A2A4B9;
  
  }

   .btn{
    height: 50px;
    margin-left: 80px;
    position:relative;
    border-radius:10px;
    background-color:hsl(261, 83%, 50%) ;
    color: #FFFBFB;
    border: 0cm;
    font-weight: 200;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
  }
   
  .overview-page{
    margin-left: 140px;
    margin-top: 30px;
    position: absolute;
    color:  #A2A4B9;
  }

  .overview-icon{
    margin-top: 25px;
    margin-left: 105px;
    width: 40px;
    position:absolute;
  }

  .policy-page{
    margin-left: 142px;
    margin-top: 75px;
    position: absolute;
    color:  #A2A4B9;
  }
  
  .policy-icon{
    margin-top: 75px;
    margin-left: 110px;
    position: absolute;
  }

  .report-page{
    margin-left: 142px;
    margin-top: 125px;
    position: absolute;
    color:  #A2A4B9;
    }
  
  .report-icon{
    margin-top: 125px;
    margin-left: 110px;
    position: absolute;
    color:  #A2A4B9;
    }

    .company-page{
      margin-left: 142px;
      margin-top: 165px;
      position: absolute;
      color:  #A2A4B9;
    }
  
    .company-icon{
      margin-top: 165px;
      margin-left: 110px;
      position: absolute;
      color:  #A2A4B9;
    }

    .user-page{
      margin-left: 142px;
      margin-top: 210px;
      position: absolute;
      color:  #A2A4B9;
    }
  
    .user-icon{
      margin-top: 210px;
      margin-left: 110px;
      position: absolute;
      color:  #A2A4B9;
    }

    .history-page{
      margin-left: 142px;
      margin-top: 255px;
      position: absolute;
      color:  #A2A4B9;
    }
  
    .history-icon{
      margin-top: 255px;
      margin-left: 110px;
      position: absolute;
      color:  #A2A4B9;
    }

    .rightpane{
      
      position: relative;
      height: available;
      margin-left: -300px;
      margin-right: 5%;
      margin-top: -250px;
      background-color: #F4F5F9;
      
      
    }
  
    .reports{
      background-color: #F4F5F9;
      margin-left: 300px;
      height: 600px;
      margin-top: 320px;
    }
    .grid-item2{
      margin-top: 100px;
      position: relative;
      height: available;
      background-color: #F4F5F9;
    }
  
    .agent{
      position: absolute;
      margin-left: 10px;
      margin-top: -20px;
      width: 370px;
      height:350px;
    }

    .area{
      position: absolute;
      width:360px;
      margin-left: 10px;
      margin-top: 180px;
      opacity: 0.1;
      
    }

    .area2{
      position:relative;
      width:358px;
      margin-top:200px;
      margin-left:10px;
      opacity: 0.2;
    }

    .rectangle{
      width: 100px;
      height: 100px;
      position: relative;
      opacity: 0.0;
      margin-top: -20px;
    }
    .reports-text{
      margin-top:-20px;
      margin-left: 50px;
      font-size: 20px;
      position: relative;
      
    }

    .newbie-btn{
      border: 1px dashed #42474A;
      border-radius: 5px;
      box-sizing: border-box;
      position: relative;
      width: 140px;
      height: 48px;
      margin-left: 60px;
      opacity: 0.6;
      font-size: 18px;
    }
  
    .copy-code{
      margin-left: 210px;
      margin-top: -40px;
    }
   
    .rectangle1{
      margin-left:30px;
      margin-top: 30px;
      opacity: 0.9;
      
    }

    .one-k{
      margin-left: 50px;
      margin-top: -300px;
      position: absolute;
      font-size: 50px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      line-height: 73px;
    }

    .dollar-sign1{
      margin-left: 155px;
      margin-top: -310px;
      position: absolute;
      color: #713BDB;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 47px;
    }

    .total-value{
      margin-left: 55px;
      position: absolute;
      margin-top: -230px;
      color:#42474A;
      width: 210px;
      height: 23px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
    }

    .policy-text{
      margin-left: 55px;
      margin-top: -180px;
      position: absolute;
      width: 44px;
      height: 23px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
      color:#42474A;
    }

    .policy-amount{
      margin-left: 275px;
      margin-top: -185px;
      position: absolute;
      width: 36px;
      height: 29px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 29px;
      color: #42474A;
    }

    .policy-currency{
      margin-left: 310px;
      margin-top: -185px;
      position: absolute;
      position: absolute;
      width: 8px;
      height: 17px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      color: #42474A;
    }

    .line1{
      margin-top: 190px;
      position: absolute;
      margin-left: -300px;
    }
  
    .line2{
      margin-top: 190px;
      position: absolute;
      margin-left: -205px;
    }

    .claim-text{
      margin-left: 50px;
      margin-top: -70px;
      position: absolute;
      width: 44px;
      height: 23px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
      color:#42474A;
    }
    
    .claim-amount{
      margin-left: 275px;
      margin-top: -75px;
      position: absolute;
      width: 36px;
      height: 29px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 29px;
      color: #42474A;
    }
    
    .claim-currency{
      margin-left: 310px;
      margin-top: -77px;
      position: absolute;
      width: 8px;
      height: 17px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      color: #42474A;
    }

    .line3{
      margin-top: 300px;
      position: absolute;
      margin-left: -305px;
    }
  
    .line4{
      margin-top: 300px;
      position: absolute;
      margin-left: -112px;
    }
    
    .rectangle2{
      margin-left:35px;
      margin-top: 20px;
      opacity: 0.9;
    }

    .two-five1{
      margin-left: 60px;
      margin-top: -300px;
      position: absolute;
      font-size: 50px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      line-height: 73px;
    }
  
    .dollar-sign2{
      margin-left: 165px;
      margin-top: -310px;
      position: absolute;
      color: #713BDB;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 47px;
    }

    .total-value2{
      margin-left: 60px;
      position: absolute;
      margin-top: -225px;
      color:#42474A;
      width: 210px;
      height: 23px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
    }

    .policy-text2{
      margin-left: 65px;
      margin-top: -180px;
      position: absolute;
      width: 44px;
      height: 23px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
      color:#42474A;
    }

    .policy-amount2{
      margin-left: 270px;
      margin-top: -185px;
      position: absolute;
      width: 36px;
      height: 29px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 29px;
      color: #42474A;
    }

    .policy-currency2{
      margin-left: 317px;
      margin-top: -185px;
      position: absolute;
      position: absolute;
      width: 8px;
      height: 17px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      color: #42474A;
    }

    .line5{
      margin-top: 180px;
      position: absolute;
      margin-left: -295px;
    }

    .line6{
      margin-top: 180px;
      position: absolute;
      margin-left: -145px;
    }

    .claim-text2{
      margin-left: 60px;
      margin-top: -70px;
      position: absolute;
      width: 44px;
      height: 23px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
      color:#42474A;
    }

    .claim-amount2{
      margin-left: 275px;
      margin-top: -75px;
      position: absolute;
      width: 36px;
      height: 29px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 29px;
      color: #42474A;
    }

    .claim-currency2{
      margin-left: 322px;
      margin-top: -77px;
      position: absolute;
      width: 8px;
      height: 17px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      color: #42474A;
    }

    .line7{
      margin-top: 290px;
      position: absolute;
      margin-left: -305px;
    }

    .line8{
      margin-top: 290px;
      position: absolute;
      margin-left: -115px;
    }

    .rectangle3{
      margin-left:35px;
      margin-top: 20px;
      opacity: 0.9;
    }

    .two-five2{
      margin-left: 60px;
      margin-top: -300px;
      position: absolute;
      font-size: 50px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      line-height: 73px;
    }
  
    .dollar-sign3{
      margin-left: 165px;
      margin-top: -310px;
      position: absolute;
      color: #713BDB;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 47px;
    }
  
    .total-value3{
      margin-left: 60px;
      position: absolute;
      margin-top: -225px;
      color:#42474A;
      width: 210px;
      height: 23px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
    }

    .policy-text3{
      margin-left: 65px;
      margin-top: -180px;
      position: absolute;
      width: 44px;
      height: 23px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
      color:#42474A;
    }
  
    .policy-amount3{
      margin-left: 270px;
      margin-top: -185px;
      position: absolute;
      width: 36px;
      height: 29px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 29px;
      color: #42474A;
    }
  
    .policy-currency3{
      margin-left: 317px;
      margin-top: -185px;
      position: absolute;
      position: absolute;
      width: 8px;
      height: 17px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      color: #42474A;
    }
  
    .line9{
      margin-top: 180px;
      position: absolute;
      margin-left: -295px;
    }

    .line10{
      margin-top: 180px;
      position: absolute;
      margin-left: -145px;
    }
   
    .claim-text3{
      margin-left: 60px;
      margin-top: -70px;
      position: absolute;
      width: 44px;
      height: 23px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
      color:#42474A;
    }
  
    .claim-amount3{
      margin-left: 275px;
      margin-top: -75px;
      position: absolute;
      width: 36px;
      height: 29px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 29px;
      color: #42474A;
    }
  
    .claim-currency3{
      margin-left: 322px;
      margin-top: -77px;
      position: absolute;
      width: 8px;
      height: 17px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      color: #42474A;
    }

    .line11{
      margin-top: 290px;
      position: absolute;
      margin-left: -305px;
    }
  
    .line12{
      margin-top: 290px;
      position: absolute;
      margin-left: -115px; 
    }

    .overview-page2{
      display:none;
    }

    .policy-page2{
      display:none;
    }

    .report-page2{
      display:none;
    }

    .signout-icon{
      margin-top:-270px;
      margin-left: 293px;
      position: absolute;
    }
  
    .signout1-icon{
      margin-top:-263px;
      margin-left: 293px;
      position: absolute;
    }
  
    .signout-page{
      margin-top:-273px;
      margin-left: 307px;
      position: absolute;
      width: 20px;
      height: 15px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 20px;
      color: #A2A4B9;
    }
  
  
}