body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar{
  margin-top: 10px;
  margin-left: 30px;
}

@media(min-width: 480px){
.dot{
  height: 7.559185981750488px;
  width: 6.88399600982666px;
  margin-top: 25px;
  margin-left:30px;
  border-radius: 0px;
  position: absolute;
  

}

.logo{
  height: 27.62470054626465px;
  width: 27.239463806152344px;
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 0px;  
  
}

.company-name{
  height: 21px;
  width: 118px;
  left: -6002px;
  margin-top: -30px;
  margin-left: 60px;
  border-radius: nullpx;

}

.picture1{
  height: 78px;
  width: 78px;
  margin-left:70px;
  top: -1173px;
  border-radius: 0px;

}

.greeting{
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-left:30px;
  color: #888CB7;

}

.welcome{
  font-family: Segoe UI;
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  margin-left:15px;
  color:#A2A4B9;
  margin-top: -10px;
}

.plan{
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  margin-left:50px;
  margin-top: -5px;
  color: #A2A4B9;

}

.freemode{
 color: #33D69F;

}

.overview-icon{
  margin-top: 35px;
  margin-left: 25px;
  width: 40px;
}

.overview-page{
  margin-left: 5px;
  margin-top: 40px;
  position: absolute;
  color:  #A2A4B9;

}

.policy-icon{
  margin-top: 85px;
  margin-left: -30px;
  position: absolute;
  
}

.policy-page{
  margin-left: 5px;
  margin-top: 85px;
  position: absolute;
  color:  #A2A4B9;
  }

  .report-page{
  margin-left: 5px;
  margin-top: 135px;
  position: absolute;
  color:  #A2A4B9;
  }

  .report-icon{
    margin-top: 135px;
    margin-left: -30px;
    position: absolute;
    color:  #A2A4B9;
  }

  .company-page{
    margin-left: 5px;
    margin-top: 180px;
    position: absolute;
    color:  #A2A4B9;
  }

  .company-icon{
    margin-top: 180px;
    margin-left: -30px;
    position: absolute;
    color:  #A2A4B9;
  }

  .user-page{
    margin-left: 5px;
    margin-top: 230px;
    position: absolute;
    color:  #A2A4B9;
  }

  .user-icon{
    margin-top: 230px;
    margin-left: -30px;
    position: absolute;
    color:  #A2A4B9;
  }

  .history-page{
    margin-left: 5px;
    margin-top: 275px;
    position: absolute;
    color:  #A2A4B9;
  }

  .history-icon{
    margin-top: 275px;
    margin-left: -30px;
    position: absolute;
    color:  #A2A4B9;
  }

  .btn{
    height: 50px;
    width: 200px;
    margin-left: 25px;
    position:relative;
    border-radius:10px;
    background-color:hsl(261, 83%, 50%) ;
    color: #FFFBFB;
    border: 0cm;
    font-weight: 200;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
  }
  .rightpane{
    width: available;
    height: available;
    position: relative;
    margin-left: 50%;
    margin-right: 5%;
    margin-top: 20px;
    background-image: url(rectangle.svg);
  }

  .reports{
    background-color: #F4F5F9;
    margin-left: 300px;
    height: 600px;
    margin-top: 10px;
  }

  .grid-item2{
    margin-top: -300px;
  }

  .agent{
    margin-left: -480px;
    margin-top: 50px;
    width: available;
  }

  .area{
    position: absolute;
    margin-left: -520px;
    margin-top: 120px;
    opacity: 0.1;
    width: 952px;
  }

  .area2{
    position: relative;
    margin-left: -480px;
    margin-top: -280px;
    opacity: 0.1;
   
  }

  .rectangle{
    margin-left: -10px;
    margin-top: 40px;
    width: 480px;
    position: absolute;
    opacity: 0.4;
  }
  .reports-text{
    margin-top:-230px;
    margin-left: -50px;
  }

  .newbie-btn{
    border: 1px dashed #42474A;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    width: 140px;
    height: 42px;
    margin-left: 15px;
    opacity: 0.6;
    font-size: 18px;
  }

  .copy-code{
    margin-left: 170px;
  }
}
   
@media(max-width: 780px){

  .side-menu{
    height: 250px;
  }

  .dot{
    height: 7.559185981750488px;
    width: 6.88399600982666px;
    margin-top: 25px;
    margin-left:85px;
    border-radius: 0px;
    position: absolute;
  }

  .logo{
    height: 27.62470054626465px;
    width: 27.239463806152344px;
    margin-left: 75px;
    margin-top: 30px;
    border-radius: 0px;  
  }
  
  .company-name{
    height: 21px;
    width: 118px;
    left: -6002px;
    margin-top: -30px;
    margin-left: 110px;
    border-radius: nullpx;
  
  }

  .picture1{
    height: 78px;
    width: 78px;
    margin-left:115px;
    top: -1173px;
    border-radius: 0px;
  
  }

  .greeting{
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-left:80px;
    color: #888CB7;
  
  }

  .welcome{
    font-family: Segoe UI;
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    margin-left:70px;
    color:#A2A4B9;
    margin-top: -10px;
  }
  
  .plan{
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    margin-left:110px;
    margin-top: -5px;
    color: #A2A4B9;
  
  }

   .btn{
    height: 50px;
    margin-left: 80px;
    position:relative;
    border-radius:10px;
    background-color:hsl(261, 83%, 50%) ;
    color: #FFFBFB;
    border: 0cm;
    font-weight: 200;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
  }
   
  .overview-page{
    margin-left: 140px;
    margin-top: 30px;
    position: absolute;
    color:  #A2A4B9;
  }

  .overview-icon{
    margin-top: 25px;
    margin-left: 105px;
    width: 40px;
    position:absolute;
  }

  .policy-page{
    margin-left: 142px;
    margin-top: 75px;
    position: absolute;
    color:  #A2A4B9;
  }
  
  .policy-icon{
    margin-top: 75px;
    margin-left: 110px;
    position: absolute;
  }

  .report-page{
    margin-left: 142px;
    margin-top: 125px;
    position: absolute;
    color:  #A2A4B9;
    }
  
    .report-icon{
      margin-top: 125px;
      margin-left: 110px;
      position: absolute;
      color:  #A2A4B9;
    }

    .company-page{
      margin-left: 142px;
      margin-top: 165px;
      position: absolute;
      color:  #A2A4B9;
    }
  
    .company-icon{
      margin-top: 165px;
      margin-left: 110px;
      position: absolute;
      color:  #A2A4B9;
    }

    .user-page{
      margin-left: 142px;
      margin-top: 210px;
      position: absolute;
      color:  #A2A4B9;
    }
  
    .user-icon{
      margin-top: 210px;
      margin-left: 110px;
      position: absolute;
      color:  #A2A4B9;
    }

    .history-page{
      margin-left: 142px;
      margin-top: 255px;
      position: absolute;
      color:  #A2A4B9;
    }
  
    .history-icon{
      margin-top: 255px;
      margin-left: 110px;
      position: absolute;
      color:  #A2A4B9;
    }

    .rightpane{
      
      position: relative;
      margin-left: -300px;
      margin-right: 5%;
      margin-top: -250px;
      background-color: #F4F5F9;
    }
  
    .reports{
      background-color: #F4F5F9;
      margin-left: 300px;
      height: 600px;
      margin-top: 320px;
    }
    .grid-item2{
      margin-top: 100px;
    }
  
    .agent{
      position: absolute;
      margin-left: 10px;
      margin-top: -20px;
      width: 370px;
      height:350px;
    }

    .area{
      position: absolute;
      width:360px;
      margin-left: 10px;
      margin-top: 180px;
      opacity: 0.1;
      
    }

    .area2{
      position:relative;
      width:358px;
      margin-top:200px;
      margin-left:10px;
      opacity: 0.2;
    }

    .rectangle{
      width: 100px;
      height: 100px;
      position: relative;
      opacity: 0.0;
      margin-top: -20px;
    }
    .reports-text{
      margin-top:-20px;
      margin-left: 50px;
      font-size: 20px;
      position: relative;
    }



    .newbie-btn{
      border: 1px dashed #42474A;
      border-radius: 5px;
      box-sizing: border-box;
      position: absolute;
      width: 140px;
      height: 38 px;
      margin-left: 40px;
      opacity: 0.6;
      font-size: 18px;
    }
  
    .copy-code{
      margin-left: 190px;
      margin-top: 0px;
    }
  
  
}